body {
  background-color: black;
  color: white;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 40px 0;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: white;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

header a:hover {
  color: #fff;
  transform: scale(1.09);
}

header nav ul {
  text-align: center;
  width: 100%;
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 70px;
}

header .contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: chartreuse;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

header .contato button:hover {
  box-shadow: 0px 0px 8px rgb(128, 255, 0);
}

.Rd {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

  

  .principal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    margin: 70px;
    gap: 50px;
  }

  .container{
    display: flex;
    flex-direction: column;
  }

  .container .sub-titulo{
    font-size: 30px;
    color: white;
    margin-top: 30px;
  }

  .secao-texto{
    display: flex;
    gap: 40px;
    padding-top: 30px;
  }

  .secao-texto .secao-textop{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    gap: 40px;
  }

  .hab-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
  }
  
  .hab-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 70px;
  }

  ul {
    list-style: none;
    display: flex
;
    gap: 10px;
}
  
  .hab-list li {
    font-size: 18px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
  }

  .outro{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    gap: 30px;
  }

  .outro h3{
    font-size: 30px;
    color: white;

  }
  .outro p{
    font-size: 18px;
    color: white;
  }
  
  
  



  